body{
    background: #efefef;
}
.main{
    margin: 30px;
    background: white;
}
.btn-posting{
    float: right;
}
.alert-danger{
    height: 50px;
}
.media-object {
    height: 40px;
    width: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}