body{
    background: #efefef;
}
.main{
    margin: 30px;
    background: white;
}
.btn-posting{
    float: right;
}
.alert-danger{
    height: 50px;
}
.media-object {
    height: 40px;
    width: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.pagination{
    float: right;
}
.list-group-section{
    padding-top: 15px;
}
.meta{
    min-height: 20px;
    line-height: 20px;
    font-size: 13px;
}
.glyphicon-comment{
    color: #999;
    margin-right: 15px;
}
.glyphicon-inbox{
    color: #999;
    margin-right: 15px;
}
.glyphicon-edit{
    color: #999;
    margin-right: 15px;
}
.glyphicon-share-alt{
    color: #999;
    margin-right: 15px;
}
.media-object{
    height: 50px;
    width: 50px;
}
.glyphicon-trash{
    color: #999;
    margin-right: 15px;
}
.jumbotron{
    padding-top: 5%;
    padding-left: 25%;
}
