<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">



    <title>登录页面</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"  href="css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet"  href="css/signin.css" >
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
  </head>


    <style>
      .panel{
        width: 50%;
        margin: 5%  auto;

      }
    </style>

    <style>
      .container{
        width: 50%;
        margin-left: 5%;
       margin-top: 5px;
      }
    </style>

    <style>
      .third-login{
        margin-left: 300px;
        margin-top: 50px;
      }
    </style>

    <style>
      .btngit{
        width: 200px;
        margin-top: 30px;
        margin-left: 300px;
      }
    </style>


  <body>

  <div class="panel panel-default">
    <div class="panel-heading">用户登录</div>
    <div class="panel-body">
      <div class="third-login" style="right: auto">
        <h4>三方用户登录</h4>
      </div>
      <a href="https://github.com/login/oauth/authorize?client_id=06803cdbd4fdac1a0136&redirect_uri=http://localhost:8080/callback&scope=user&state=1" >
        <button class="btngit btn-lg btn-primary btn-block">Github登录</button>
      </a>
    </div>

    <div class="container" >
      <form class="form-signin" style="float: left">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only"></label>
        <input type="email" id="inputEmail" class="form-control" placeholder="用户名/邮箱" required autofocus>
        <label for="inputPassword" class="sr-only"></label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住我
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
    </div> <!-- /container -->
  </div>


  </body>

</html>
