<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--发布帖子页面-->
<head>
    <title>有的聊</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" href="css/bootstrap.min.css" />
    <link rel = "stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel = "stylesheet" href="css/bbs.css" />
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">有的聊</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">有的聊</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">发现</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题、帖子、用户">
                </div>
                <button type="submit" class="btn btn-default">查找</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <!--                url第一个参数用？号，后面的参数用&来区分-->
                <li><a href="/posting">发帖</a></li>
                <li  th:if="${session.user == null}"><a href="/login">登录</a></li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">设置中心 else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-md-9 col-md-12 col-sm-12" >
            <h2>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                发帖
            </h2>
            <hr>

            <form action="/posting" method="post">
                <div class="form-group">
                    <label for="title">帖子主题(简单扼要)</label>
                    <input type="text" class="form-control" id="title" th:value="${title}" name="title" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="title">帖子内容</label>
                    <textarea name="description" id="description" th:text="${description}" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" id="tag" th:value="${tag}" name="tag" placeholder="输入标签内容，逗号隔开...">
                </div>
                <div class="alert alert-danger" th:if="${error != null}"  th:text="${error}" ></div>
                <button type="submit" class="btn btn-success btn-posting">发帖</button>
            </form>
        </div>

        <div class="col-md-3 col-md-12 col-sm-12" >
            <h3>注意事项</h3>
            1、请不要发布政治敏感内容，无聊灌水内容<br>
            2、注意文明用词<br>
            3、账号且用且珍惜
        </div>
    </div>
</div>
<!--bootStrsp在body之前引入样式-->
</body>
</html>